@model string
@{
    ViewData["Title"] = "Home Page";
}


@if (Model != null)
{
    <div class="alert alert-info">
        <span>@Html.Raw(Model)</span>
    </div>
}

@using(Html.BeginForm("Post", "Home", FormMethod.Post)){
    <div class="form-group">
        <label class="col-form-label" for="zipCode">ZipCode</label>
        <input type="text" class="form-control" id="zipCode" name="zipCode" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
}
